@import "../../styles/partials/variable";
@import "../../styles/partials/mixins";

.page-title-container {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0 24px;
  margin-top: 20px;

  &__main-heading {
    font-family: DM-Sans;
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.2px;
  }
  text-transform: capitalize;

  &__sub-heading {
    font-family: DM-Sans;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
  }
}
