@import '../../styles/index.scss';


.cartcontainer {
    @include flex-container(
      $direction: null,
      $justify-content: null,
      $align-items: center,
      $flex-wrap: nowrap
    );
    
}