@import "../../styles/partials/variable";
@import "../../styles/partials/font";

.rating-review-settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  &__rating-review {
    display: flex;
    align-items: center;

    &__rating {
      display: flex;
      align-items: center;
      .fa-star {
        color: #ffc120;
        height: 16px;
        width: 16px;
      }
      .rating {
        font-family: DM-Sans;
        font-size: $x-small;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.0125rem;

        margin-left: 3px;
      }
    }
    &__reviews {
      font-family: DM-Sans;
      font-size: $x-small;
      font-weight: 400;
      line-height: 1rem;
      letter-spacing: 0.0125rem;
      margin-left: 10px;
    }
  }
}
