@import "../../styles/index.scss";

.settings {
  @include width-property($width: 100%, $min-width: null, $max-width: 375px);
  &__menu {
    padding: 0px 24px;
    height: 55px;
    @include flex-container(
      $direction: null,
      $justify-content: space-between,
      $align-items: center,
      $flex-wrap: nowrap
    );
    p {
      text-transform: capitalize;
      @include font(
        $font-family: DM-Sans,
        $font-color: $color-black,
        $font-size: 16,
        $font-weight: $bold,
        $font-style: null
      );
      @include text-properties-common(
        $letter-spacing: 0.2px,
        $line-height: 20px,
        $text-align: null
      );
    }
  }

  &__profile {
    padding: 30px 24px;
    @include flex-container(
      $direction: null,
      $justify-content: null,
      $align-items: center,
      $flex-wrap: nowrap
    );
    gap: 26px;

    .profile-picture {
      width: 75px;
      height: 75px;
      flex-shrink: 0;
      border-radius: 75px;
    }

    &--data {
      @include flex-container(
        $direction: column,
        $justify-content: null,
        $align-items: flex-start,
        $flex-wrap: nowrap
      );
      gap: 7px;

      &__name {
        @include font(
          $font-family: DM-Sans,
          $font-color: $color-grey-3,
          $font-size: 16,
          $font-weight: $regular,
          $font-style: null
        );
        letter-spacing: 0.2px;
      }

      &__email {
        @include font(
          $font-family: DM-Sans,
          $font-color: $color-grey-3,
          $font-size: 14,
          $font-weight: $regular,
          $font-style: null
        );
        letter-spacing: 0.2px;
      }
    }
  }
  &__edit {
    @include width-property($width: 100%, $min-width: null, $max-width: 400px);
    @include flex-container(
      $direction: column,
      $justify-content: null,
      $align-items: flex-start,
      $flex-wrap: nowrap
    );
    padding-bottom: 20px;
    span {
      @include font(
        $font-family: DM-Sans,
        $font-color: $color-grey-3,
        $font-size: 14,
        $font-weight: $regular,
        $font-style: null
      );
      text-transform: capitalize;
      padding: 20px 24px;
      width: 320px;
      &:nth-child(1) {
        border-top: 1px solid $color-grey-2;
      }
    }
    ul {
      li {
        @include flex-container(
          $direction: column,
          $justify-content: null,
          $align-items: flex-start,
          $flex-wrap: nowrap
        );

        @include font(
          $font-family: DM-Sans,
          $font-color: $color-black,
          $font-size: 16,
          $font-weight: $regular,
          $font-style: null
        );
        a {
          width: 320px;
          padding: 20px 24px;
          text-transform: capitalize;
          border-bottom: 1px solid $color-grey-2;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
