@import "../../styles/index.scss";

.wishlist-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 25px;
  .product-bag-details__data {
    flex-direction: row;
    
  }
  .product-item-delete   {
    margin-left: 60px;
}

  .controls {
    display: none;
    
  }
}
