@import '../../styles/index.scss';

.wishlist-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 25px;
    .product-details__data {
        align-self: center;
    }
}