@import "../../../../styles/partials/variable";
@import "../../../../styles/partials/font";

.product-component-card {
  display: flex;
  margin-top: 24px;
  &__content {
    margin-left: 14px;
    &__title {
      font-family: DM-Sans;
      font-size: $medium;
      font-weight: $bold;
      line-height: 1.5rem;
      letter-spacing: 0.0125rem;
      text-transform: uppercase;
    }
    &__description {
      font-family: DM-Sans;
      font-size: $small;
      font-weight: $regular;
      line-height: 1.375rem;
      letter-spacing: 0.0125rem;
      margin-top: 8px;
    }
  }
}
