
/*--------------------------------------------Color Variable--------------------------------------------*/
//BLACK
$color-black: #000;

//WHITE
$color-white: #fff ;

//GREY
$color-grey: #F6F6F6;
$color-grey-2: #BABABA;
$color-grey-3: #7F7F7F;

//BLUE
$color-blue: #1777F2;
$color-blue-2: #518EF8;

//GREEN
$color-green: #0ACF83;
$color-green-2: #28B446;

//RED
$color-red: #F14336;

//YELLOW
$color-yellow : #FFC120;
$color-yellow-2: #FBBB00;


/* --------------------------------------Font Weight--------------------------------------------*/
$thin : 100;
$extra-light : 200;
$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;
$extra-bold : 800;


/* --------------------------------------Font size variables--------------------------------------------*/
$xx-small: 10px; 
$x-small: 12px; 
$small: 14px; 
$medium: 16px; 
$large: 18px; 
$x-large: 20px; 
$xx-large: 24px; 
$xxx-large: 28px;
