@import "../../styles/index.scss";
.add-to-bag {
  width: 326px;
  height: 50px;
  padding: 15px 30px;
  margin:24px  auto;
  text-align: center;
  border-radius: 10px;
  background: $color-green;
  button {
    @include font(
      $font-family: DM-Sans,
      $font-color: $color-white,
      $font-size: 14,
      $font-weight: $bold,
      $font-style: normal
    );
    border: none;
    background-color: $color-green;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
}
