@import "../../styles/partials/variable";
@import "../../styles/partials/mixins";


.category-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    padding-left: 24px;
    align-items: center;

    &__button {        
        font-family: DM-Sans;
        height: 25px;
        display: block;
        color: $color-grey-3;
        font-size: 14px;
        font-weight: 400;
        line-height: 5px; 
        letter-spacing: 0.2px;

        background-color: transparent;
        border: none;
        border-radius: 30px;
        margin-right: 11px;
        padding: 10px 15px;
        
        
        &--active {
            color: $color-white;
            background-color: $color-green;
        }
    }

}

.category-header::-webkit-scrollbar {
    display: none;
  } 




//   Category list-----data


