@import '../../../styles/partials/variable';
@import '../../../styles/partials/font';
@import '../../../styles/partials/mixins';

.form {
    padding-top:250px;
    width:90%;
    margin:auto;
    padding-bottom: 100px;

    &__forgot {
        @include font($font-size: 14, $font-style: normal, $font-weight: $regular, $font-color: $color-white, $font-family: DM-Sans);
        @include text-properties-common($line-height: 20px, $letter-spacing: 0.2px);
        margin:auto;
        margin-bottom: 32px;
        display: block;
        background-color: transparent;
        border: none; 
        cursor: pointer;
    }

    &__account {
        @include font($font-size: 14, $font-style: normal, $font-weight: $regular, $font-color:$color-white, $font-family: DM-Sans);
        @include text-properties-common($line-height: 20px, $letter-spacing: 0.2px, $text-align:center);
        margin-top:24px;

        &__redirect {
            color: $color-green;
            text-decoration: underline;
            margin-left: 2px;
        }
    }
}
