@import '../../styles/partials/variable';

.page {
    width:480px;
    margin:50px auto;
    background-image: url('../../assets/images/hero-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}