@import '../../styles/partials/variable';

.page {
    background-image: url('../../../public/assets/images/hero-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}