@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.page__heading {
    padding-top:111px;
    text-align: center;

    &__main {
        @include font($font-size:51.048, $font-color:$color-white, $font-weight: $bold, $font-family: DM-Sans);
        @include text-properties-common($letter-spacing:0.638px);
        margin-bottom: 7px;
    }

    &__sub-text {
        @include font($font-weight: $bold, $font-color:$color-white, $font-size:14, $font-family: DM-Sans);
        @include text-properties-common($letter-spacing:0.2px, $line-height:20px);   
    }
}