@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.total-cart-items {
  display: flex;
  padding: 25px 25px 0;
  justify-content: space-between;
  align-items: center;
  
  &__count {
    @include font(
      $font-family: DM-Sans,
      $font-color: $color-black,
      $font-size: 12,
      $font-weight: $bold,
      $font-style: normal
    );
    letter-spacing: 0.2px;
    line-height: 20px;
    opacity: 0.6;
    text-transform: capitalize;
  }
  &__cost {
    @include font(
      $font-family: DM-Sans,
      $font-color: $color-black,
      $font-size: 16,
      $font-weight: $bold,
      $font-style: normal
    );
    letter-spacing: 0.2px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
 