@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variable";

.category {
  font-family: DM-Sans;
  font-size: 0.875rem;
  @include flex-container($direction: column, $align-items: flex-start);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 125% */
  letter-spacing: 0.0125rem;

  &__title {
    font-size: 1rem;
    color: $color-black;
    font-size: 1rem;
    margin-bottom: 0.62rem;
  }

  &__list {
    @include flex-container($align-items: center, $flex-wrap: wrap);

    &__wrapper {
      margin-right: 0.625rem;

      &:last-child {
        margin: 0;
      }
    }

    &__item {
      @include flex-container($align-items: center);
      height: 1.5625rem;
      padding: 0.625rem 0.9375rem;
      align-items: center;
      color: $color-grey-3;
      font-size: 0.875rem;

      &.active {
        border-radius: 1.875rem;
        background: $color-green;
        color: $color-white;
      }
    }
  }
}
