@import "../../../styles/index.scss";

.settings {
  border-top: 1px solid $color-grey-2;
  width: 100%;
  padding-bottom: 33px;
  &__column {
    @include flex-container(
      $direction: column,
      $justify-content: null,
      $align-items: flex-start,
      $flex-wrap: nowrap
    );

    &__title {
      @include font(
        $font-family: DM-Sans,
        $font-color: $color-grey-3,
        $font-size: 14,
        $font-weight: $regular,
        $font-style: null
      );
      letter-spacing: 0.2px;
      text-transform: capitalize;
      padding: 20px 0 20px 24px;
    }
    ul {
      width: 100%;
      .list-item {
        width: 100%;
        @include flex-container(
          $direction: column,
          $justify-content: null,
          $align-items: flex-start,
          $flex-wrap: nowrap
        );
        border-bottom: 1px solid $color-grey-2;

        @include font(
          $font-family: DM-Sans,
          $font-color: $color-black,
          $font-size: 16,
          $font-weight: $regular,
          $font-style: null
        );
        a {
          padding: 15px 0 15px 24px;
          text-transform: capitalize;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
