@import "../../../styles/index.scss";

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__minus , &__plus {
    border-radius: 10px;
    border: 1px solid $color-grey-2;
    background: $color-white;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .controls__number{
    margin:0 25px;
  }
}
