@import "../../../styles/index.scss";

.product-deatils {
  @include flex-container(
    $direction: null,
    $justify-content: null,
    $align-items: center,
    $flex-wrap: nowrap
  );
  border: 2px solid red;
  gap: 15px;

  &__image {
    width: 87px;
    height: 87px;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid rgb(0, 140, 255);
    background-color: $color-grey;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__data {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: flex-start;
    letter-spacing: 0.2px;

    h3 {
      @include font(
        $font-family: DM-Sans,
        $font-color: #000,
        $font-size: 16,
        $font-weight: 400,
        $font-style: null
      );
    }
    h4 {
      h3 {
        @include font(
          $font-family: DM-Sans,
          $font-color: #000,
          $font-size: 14,
          $font-weight: 700,
          $font-style: null
        );
      }
    }
  }
}
